// search-menu ====================================================================================================
.search-form {
	max-width: rem(790);
	// .search-form__input
	&__input {
		position: relative;

		&:not(:last-child) {
			margin-bottom: rem(17);
		}

		.input {
			width: 100%;
			background: transparent;
			border-bottom: 1px solid $Gray;
			font-weight: 300;
			@include adaptiveValue("font-size", 40, 20);
			line-height: math.div(24, 20);
			@include adaptiveValue("padding-top", 32, 16);
			@include adaptiveValue("padding-bottom", 32, 16);
			@include adaptiveValue("padding-right", 45, 30);
			transition: $transition ease border-color 0s;

			&:focus {
				outline: 0;
				border-color: $Blue;
			}
		}
	}

	// .search-form__reset
	&__reset {
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		display: inline-flex;
		align-items: center;
		justify-content: center;
		font-size: rem(9);
		@include adaptiveValue("padding", 13, 7);
		border-radius: 50%;
		border: 1px solid $Gray;
		transition: $transition ease border-color, $transition color 0s;

		@media (any-hover: hover) {
			&:hover {
				color: $Blue;
				border-color: $Blue;
			}
		}
	}

	// .search-form__label
	&__label {
		display: none;

		@media (min-width: $mobile) {
			display: flex;
			justify-content: flex-end;
			font-weight: 300;
			text-align: right;
		}
	}
}

.search-result {
	& > * {
		&:not(:last-child) {
			margin-bottom: rem(40);
		}
	}
	// .search-result__title
	&__title {
		font-weight: 300;
		@include adaptiveValue("font-size", 24, 18);
		line-height: 1.2;
	}

	// .search-result__category
	&__category {
		display: grid;
		gap: rem(16);
	}

	// .search-result__caption
	&__caption {
		@include adaptiveValue("font-size", 14, 12);
		text-transform: uppercase;

		&:not(:last-child) {
			margin-bottom: rem(16);
		}
	}

	// .search-result__link
	&__link {
		a {
			display: inline-flex;
			align-items: center;
			gap: rem(8);

			span {
				transition: $transition ease color 0s;
			}

			@media (any-hover: hover) {
				&:hover {
					span {
						color: $Blue;
					}
				}
			}
		}
	}
}

.search-menu {
	height: 100%;
	overflow-y: auto;
	background: #dadbdf;
	position: fixed;
	z-index: 6;
	top: -100%;
	left: 0;
	right: 0;
	padding-bottom: rem(32);
	transition: 0.5s ease top 0s;

	.search-open & {
		top: 0;
	}

	// .search-menu__wrapper
	&__wrapper {
		@include adaptiveValue("padding-left", 40, 15);
		@include adaptiveValue("padding-right", 40, 15);
	}

	// .search-menu__heading
	&__heading {
		display: flex;
		align-items: center;
		justify-content: space-between;
		@include adaptiveValue("min-height", 68, 50);
		padding-top: rem(9);
		padding-bottom: rem(9);

		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 100, 40);
		}
	}

	// .search-menu__logo
	&__logo {
	}

	// .search-menu__close
	&__close {
		@include adaptiveValue("font-size", 20, 14);
		transition: $transition ease color 0s;
		padding: rem(8);
		margin: rem(-8);

		@media (any-hover: hover) {
			&:hover {
				color: $Blue;
			}
		}
	}

	// .search-menu__form
	&__form {
		&:not(:last-child) {
			margin-bottom: rem(48);
		}
	}

	// .search-menu__result
	&__result {
	}
}

// header ====================================================================================================
.menu {
	height: 100%;
	overflow-y: auto;
	padding-top: rem(80);
	@include adaptiveValue("padding-bottom", 80, 40);
	display: flex;
	align-items: center;

	&__wrapper {
		flex: 1;
		display: grid;
		@include adaptiveValue("gap", 111, 50);
		@include adaptiveValue("padding-left", 40, 15);
		@include adaptiveValue("padding-right", 40, 15);
		position: relative;

		@media (min-width: $tablet) {
			align-items: center;
			grid-template-columns: 0.7fr 1.7fr 1fr;
		}
		@media (max-width: $tablet) {
			justify-content: center;
		}
		@media (max-width: $mobileSmall) {
			justify-content: flex-start;
		}
	}

	&__logo {
		@media (min-width: $tablet) {
			position: relative;
			z-index: 1;
			@include adaptiveValue("padding-left", 46, 15, 1280, 992, 1);
			padding-top: rem(11);
			padding-bottom: rem(4);

			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: rem(4);
				height: 100%;
				background: url(../img/icons/menu-line.svg) no-repeat center/cover;
				pointer-events: none;
			}
		}
		@media (max-width: $tablet) {
			display: none;
		}
	}

	// .menu__body
	&__body {
	}

	// .menu__list
	&__list {
		display: grid;
		gap: rem(24);
		position: relative;
	}

	// .menu__item
	&__item {
	}

	// .menu__link
	&__link {
		position: relative;
		z-index: 1;
		font-weight: 300;
		@include adaptiveValue("font-size", 60, 30);
		line-height: 1;
		text-transform: uppercase;
		transition: $transition ease color 0s;

		@media (any-hover: hover) {
			&:hover {
				color: $Blue;
			}
		}
	}

	// .menu__contacts
	&__contacts {
		position: relative;
		z-index: 1;

		@media (min-width: $tablet) {
			padding-left: rem(16);

			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: rem(4);
				height: 100%;
				background: url(../img/icons/menu-line-2.svg) no-repeat center/cover;
				pointer-events: none;
			}
		}
	}
}

.contacts {
	display: grid;
	row-gap: rem(8);

	// .contacts__item
	&__item {
	}
	// .contacts__link
	&__link {
		font-weight: 300;
	}
	a.contacts__link {
		@media (any-hover: hover) {
			transition: $transition ease color 0s;

			&:hover {
				color: $Blue;
			}
		}
	}
}

.logo {
	// .logo__link
	&__link {
		display: inline-flex;
		align-items: center;
		@include adaptiveValue("column-gap", 24, 8);
		transition: $transition ease opacity 0s;

		@media (any-hover: hover) {
			&:hover {
				opacity: 0.6;
			}
		}
	}

	// .logo__icon
	&__icon {
		@include adaptiveValue("max-width", 84, 58);
	}

	// .logo__title
	&__title {
		font-weight: 300;
		@include adaptiveValue("font-size", 12, 8);
		line-height: math.div(14, 12);
		color: #838383;
		text-transform: uppercase;
	}
}

.language {
	display: flex;
	align-items: center;
	gap: rem(16);

	// .language__item
	&__item {
		a {
			font-weight: 500;
			padding: rem(4);
			position: relative;
			transition: $transition ease color 0s;

			@media (any-hover: hover) {
				&:hover {
					color: rgba($color: $mainColor, $alpha: 0.3);
				}
			}

			&::before {
				content: "";
				display: block;
				height: 1px;
				width: 0;
				background-color: $mainColor;
				position: absolute;
				left: 0;
				bottom: 0;
				transition: $transition ease width 0s;

				@media (min-width: $mobileSmall) {
					transform: translateY(rem(21));
				}
			}
		}

		// .language__item_current
		&_current {
			a {
				color: rgba($color: $mainColor, $alpha: 0.3);

				&::before {
					width: 100%;
				}
			}
		}
	}
}

.header {
	position: fixed;
	z-index: 5;
	left: 0;
	right: 0;
	top: 0;
	background-color: $White;

	// .header__container
	&__container {
		@include adaptiveValue("min-height", 68, 50);
		display: grid;
		grid-template-columns: 30% 1fr 30%;
		padding-top: rem(9);
		padding-bottom: rem(9);
		@include adaptiveValue("padding-left", 25, 15);
		@include adaptiveValue("padding-right", 25, 15);

		@media (max-width: $tablet) {
			grid-template-columns: 1fr 1fr;
		}
	}

	.logo {
		@media (max-width: $tablet) {
			&__icon {
				position: relative;
				z-index: 2;
			}
		}
	}

	// .header__menu
	&__menu {
		background: #dadbdf;
		position: fixed;
		z-index: 2;
		top: -100%;
		left: 0;
		right: 0;
		transition: 0.5s ease top 0s;

		&::before {
			content: "";
			background: #dadbdf;
			@include adaptiveValue("height", 68, 50);
			position: fixed;
			z-index: 2;
			top: -100%;
			left: 0;
			right: 0;
			transition: 0.5s ease top 0s;
		}

		.logo {
			// .logo__icon
			&__icon {
				@include adaptiveValue("max-width", 131, 65, 1280, 768);
			}
		}

		.menu-open & {
			top: 0;

			&::before {
				top: 0;
			}
		}
	}

	// .header__experience
	&__experience {
		display: flex;
		justify-content: center;
		align-items: flex-end;
		font-weight: 900;
		@include adaptiveValue("font-size", 18, 12);
		line-height: math.div(22, 18);
		color: transparent;
		-webkit-text-stroke: 1px #d5d8dd;
		gap: rem(4);

		span {
			@include adaptiveValue("font-size", 42, 28);
			line-height: math.div(42, 42);
		}

		@media (max-width: $tablet) {
			display: none;
		}
	}

	// .header__right
	&__right {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		@include adaptiveValue("column-gap", 30, 20);
	}

	// .header__language
	&__language {
		@media (min-width: $mobile) {
			&:not(:last-child) {
				@include adaptiveValue("margin-right", 54, 0, 1280, 768, 1);
			}
		}
	}

	// .header__search
	&__search {
		a,
		button {
			@include adaptiveValue("font-size", 20, 18);
			line-height: 1;
			transition: $transition ease color 0s;

			@media (any-hover: hover) {
				&:hover {
					color: $Blue;
				}
			}
		}
	}
}
//====================================================================================================

//Burger
.icon-menu {
	display: block;
	position: relative;
	@include adaptiveValue("width", 30, 24);
	height: rem(15);
	cursor: pointer;
	z-index: 5;

	@media (any-hover: hover) {
		&:hover {
			span,
			&::before,
			&::after {
				background-color: $Blue;
			}
		}
	}

	span,
	&::before,
	&::after {
		content: "";
		transition: all 0.3s ease 0s;
		left: 0px;
		position: absolute;
		width: 100%;
		height: 2px;
		background-color: $mainColor;
	}
	&::before {
		top: 0px;
	}
	&::after {
		bottom: 0px;
	}

	span {
		top: calc(50% - 1px);
	}

	.menu-open & {
		span {
			transform: scale(0);
		}

		&::before {
			transform: rotate(-45deg);
			top: calc(50% - 1px);
		}

		&::after {
			transform: rotate(45deg);
			bottom: calc(50% - 1px);
		}
	}
}
