@font-face {
	font-family: icomoon;
	font-display: swap;
	src: url("../fonts/icomoon.woff2") format("woff2"), url("../fonts/icomoon.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Rubik;
	font-display: swap;
	src: url("../fonts/Rubik-Black.woff2") format("woff2"), url("../fonts/Rubik-Black.woff") format("woff");
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: Rubik;
	font-display: swap;
	src: url("../fonts/Rubik-Light.woff2") format("woff2"), url("../fonts/Rubik-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: Rubik;
	font-display: swap;
	src: url("../fonts/Rubik-Medium.woff2") format("woff2"), url("../fonts/Rubik-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: Rubik;
	font-display: swap;
	src: url("../fonts/Rubik-Regular.woff2") format("woff2"), url("../fonts/Rubik-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Spaceland;
	font-display: swap;
	src: url("../fonts/Spaceland-Bold.woff2") format("woff2"), url("../fonts/Spaceland-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
